@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic);

* { margin: 0; padding: 0; box-sizing: border-box; }
textarea, input { outline: none; }
html {
	overflow: hidden;
	height: 100%;
    -webkit-overflow-scrolling: touch;
}
/*html {
	background: url(../img/stars.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/
body {
	height: 100%;
	background: #CFD8E6!important;
	/*background: transparent!important;*/
	overflow: auto!important;
	/*font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;*/
}
.block { display: block; }

.inline-block { display: inline-block; width: 50px; text-align: center; }

#map {
	line-height: normal;
	/*transform-origin: -860px -350px;*/
	/*position: absolute;*/
	/*top: 0; left: 0;*/
}

.mapcontainer {
	position: absolute;
	top: 350px;
	left: 860px;
	transform-origin: -860px -350px;
	/*transform: scale(0.8);*/
	cursor: move;
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
	transition: transform 0.3s ease;
}
#origin {
	width: 10px;
	height: 10px;
	background: #333;
	position: absolute;
	left: -5px;
	top: -5px;
	border-radius: 5px;
}
#endoftheworld {
	width: 1px;
	height: 1px;
	background: transparent;
	position: absolute;
	left: 1450px;
	top: 1080px;
}

#background {
	position: absolute;
	background: #CFD8E6;
	width: 2320px; 
	height: 1450px; 
	left: -850px; 
	top: -350px; 
}
.base {
	position: absolute;
	background: #E2F3DA;
}
.block-name {
	color: #B9BFB6;
	position: absolute;
	font-size: 32px;
	text-transform: uppercase;
	min-width: 160px;
}

.room {
	position: absolute;
	cursor: pointer;
	width: 45px;
	height: 45px;
	border-radius: 6px;
}
.tv {
	width: 13px; height: 10px;
	background: transparent url(../img/tv.svg) no-repeat;
	position: absolute;
	right: 6px;
	bottom: 4px;
	opacity: 0.8;
}

.color1 {
	background: #CC4352;
}
.color1:hover, .color1:hover {
	background: #B33B49;
}
.color1:hover .name, .color1:hover .name {
	color: #B33B49;
}

.color2 {
	background: #00A1CB;
}
.color2:hover {
	background: #008FB3;
}
.color2:hover .name {
	color: #008FB3;
}

/*.color3 {
	background: #F39130;
}
.color3:hover {
	background: #D9822B;
}
.color3:hover .name {
	color: #D9822B;
}

.color4 {
	background: #4C4C4C;
}
.color4:hover {
	background: #333333;
}
.color4:hover .name {
	color: #333333;
}

.color5 {
	background: #8A64B3;
}
.color5:hover, .color5:hover {
	background: #765699;
}
.color5:hover .name, .color5:hover .name {
	color: #765699;
}*/

.color6 {
	background: #51AE45;
}
.color6:hover {
	background: #45943B;
}
.color6:hover .name {
	color: #45943B;
}

.color7 {
	background: #FFA900;
}
.color7:hover {
	background: #E69900;
}
.color7:hover .name {
	color: #E69900;
}

.color8 {
	background: #00A1CB;
}
.color8:hover, .color8:hover {
	background: #008FB3;
}
.color8:hover .name, .color8:hover .name {
	color: #008FB3;
}

.abbr {
	color: #FFF;
	font-size: 26px;
	text-align: center;
	width: 100%;
	margin-top: 7px;
}

.name {
	font-size: 13px;
	color: #333;
	position: absolute;
}

.name-left {
	width: 120px;
	left: -126px;
	/*top: 15px;*/
	top: 35%;
	text-align: right;
}
.name-right {
	width: 132px;
	left: 51px;
	/*top: 15px;*/
	top: 35%;
}
.top-slant {
	top: -16px;
	/*left: 20px;*/
	left: 50%;
	width: 100px;
	text-align: left;
	transform: rotate(-45deg);
	transform-origin: 0% 50%;
	-webkit-font-smoothing: antialiased;
}
.bottom-slant {
	top: 45px;
	left: -76px;
	/*left: -200%;*/
	width: 100px;
	text-align: right;
	transform: rotate(-45deg);
	transform-origin: 100% 50%;
	-webkit-font-smoothing: antialiased;
}
.top-right {
	top: -12px;
	left: 48px;
	width: 120px;
	text-align: left;
	transform: rotate(-45deg);
	transform-origin: 0% 50%;
	-webkit-font-smoothing: antialiased;
}
.bottom-left {
	top: 40px;
	left: -122px;
	width: 120px;
	text-align: right;
	transform: rotate(-45deg);
	transform-origin: 100% 50%;
	-webkit-font-smoothing: antialiased;
}

.abbr2 {
	transform: rotate(-45deg);
}

.faded {
	opacity: 0.4;
}

.road {
	position: absolute;
	background: #FFF;
	font-size: 12px;
	color: #fff;
}
.vertical-road {
	width: 25px;
}
.horizontal-road {
	height: 25px;
}
.fh1 {
	width: 1180px;
	top: 90px;
}
.fh3a {
	width: 870px;
	top: 255px;
	left: -390px;
}
.fh3b {
	width: 80px;
	top: 255px;
	left: 1180px;
}
.fh5 {
	width: 650px;
	top: 310px;
	left: 505px;
}
.fh7 {
	width: 1000px;
	top: 500px;
	left: 300px;
}

.fh0 {
	height: 215px;
	top: 520px;
	left: 1275px;
}
.fh2 {
	height: 405px;
	top: 115px;
	left: 1155px;
}
.fh4 {
	height: 210px;
	top: 115px;
	left: 980px;
}
.fh6 {
	height: 405px;
	top: 115px;
	left: 840px;
}
.fh8 {
	height: 215px;
	top: 520px;
	left: 810px;
}
.fh10 {
	height: 410px;
	top: 115px;
	left: 480px;
}
.curved-road {
	position: absolute;
	/*background: red;*/
	border: 25px solid white;
}
.cr1 {
	left: -480px;
	top: 160px;
	width:120px; 
	height:120px;  
	border-color: transparent transparent #fff #fff;
	border-radius: 0 0 0 90px;
}
.cr2 {
	left: -315px;
	top: 160px;
	width:130px; 
	height:120px;  
	border-color: transparent #fff #fff transparent;
	border-radius: 0 0 90px 0;
}
.cr3 {
	left: -220px;
	top: 90px;
	width:230px; 
	height:190px;  
	border-color: #fff #fff transparent #fff;
	border-radius: 170px 0 0 0;
}
.cr4 {
	left: -615px;
	top: 565px;
	width:60px; 
	height:60px;  
	border-color: #fff #fff transparent transparent;
	border-radius: 0 60px 0;
}

.winterfell, .hardhome {
	position: absolute;
	cursor: pointer;
	width: 65px;
	height: 65px;
}
.winterfell { border-radius: 6px 0 0 6px; }
.hardhome { border-radius: 0 6px 6px 0; }

.winterfell .bottom-slant, .hardhome .bottom-slant {
	top: 65px;
	left: -66px;
	width: 100px;
	text-align: right;
	transform: rotate(-45deg);
	transform-origin: 100% 50%;
	-webkit-font-smoothing: antialiased;
}
.winterfell .abbr, .hardhome .abbr {
	color: #FFF;
	font-size: 26px;
	text-align: center;
	width: 65px;
	margin-top: 17px;
}

.sun {
	position: absolute;
	cursor: pointer;
	width: 110px;
	height: 65px;
	border-radius: 6px;
}
.sun .bottom-center {
	top: 70px;
	left: 0px;
	width: 110px;
	text-align: center;
}
.sun .abbr {
	color: #FFF;
	font-size: 26px;
	text-align: center;
	width: 110px;
	margin-top: 17px;
}


.rtype1 { height: 65px; }
.rtype1 .abbr { margin-top: 15px; }
.rtype1 .name { top: 24px; }

.gameofthrones, .houseofcards {
	position: absolute;
	cursor: pointer;
	width: 56px;
	height: 110px;
}
.gameofthrones { border-radius: 6px 0 0 6px; }
.houseofcards { border-radius: 0 6px 6px 0; }

.gameofthrones .abbr, .houseofcards .abbr {
	color: #FFF;
	font-size: 26px;
	text-align: center;
	width: 56px;
	margin-top: 40px;
}
#breakingbad .abbr8 {
	color: #FFF;
	font-size: 14px;
	text-align: center;
	width: 35px;
	margin-top: 8px;
}
#breakingbad .abbr9 {
	color: #FFF;
	font-size: 14px;
	text-align: center;
	width: 60px;
	margin-top: -2px;
}

.grey {
	position: absolute;	
	border-radius: 6px;
	background: #D9D9D9;
	text-align: center;
}
.grey .name {
	font-size: 11px;
	text-align: center;
	width: 100%;
}


.matrix {
	width: 105px;
	height: 260px;
	padding-top: 100px;
}
.matrix {
	position: absolute;
	cursor: pointer;
	border-radius: 6px;
}
.matrix .name-left {
	top: 120px;
	left: -120px;
	width: 110px;
	text-align: right;
}
.matrix .abbr {
	color: #FFF;
	font-size: 26px;
	text-align: center;
	width: 110px;
	margin-top: 12px;
}

.atm {
	position: absolute;
	cursor: pointer;
	width: 45px;
	height: 45px;
	border-radius: 6px;
}
.atm .abbr {
	color: #808080;
	font-size: 15px;
	font-weight: bold;
	margin-left: 0px;
	margin-top: 14px;
}
.pong {
	width: 105px;
	height: 65px;
	padding-top: 14px;
}
.foosball {
	width: 80px;
	height: 65px;
	padding-top: 12px;
}
.golf {
	border-radius: 50% 50% 50% 10px;
	width: 105px;
	height: 105px;
	padding-top: 20px;
}
.gym {
	width: 170px;
	height: 85px;
	padding-top: 25px;
}

.reception {
	width: 95px;
	height: 65px;
	padding-top: 10px;
}

.lifts {
	width: 95px;
	height: 65px;
	padding-top: 10px;
	position: absolute;	
	border-radius: 6px;
	background: #444;
	text-align: center;
	cursor: pointer;
}
.lifts:hover { background: #666; }
.lifts .name {
	color: #FFF;
	font-size: 11px;
	text-align: center;
	width: 100%;
}

.cauldron {
	width: 105px;
	height: 260px;
	padding-top: 100px;
}
.naproom {
	width: 65px;
	height: 85px;
	padding-top: 25px;
}
.naproom2 {
	width: 105px;
	height: 65px;
	padding-top: 18px;
}
.amphitheater {
	width: 110px;
	height: 110px;
	padding-top: 26px;	
	position: absolute;	
	border-radius: 6px;
	text-align: center;
	cursor: pointer;
}
.amphitheater .name {
	color: #FFF!important;
	width: 100%;
	text-align: center;
}
.sports {
	width: 75px;
	height: 130px;
	padding-top: 40px;
}

.centralperk {
	width: 440px;
	height: 170px;
	padding-top: 70px;
}
.cafeteria {
	width: 440px;
	height: 170px;
	padding-top: 60px;
}

.hide { display: none; }

#widget {
	background: #FFF;
	border: 1px solid rgba(0,0,0,0.15);
	position: fixed;
	width: 400px;
	/*height: 90px;*/
	right: 20px;
	top: 20px;
	border-radius: 5px;
	/*box-shadow: 0 4px 10px 0 rgba(0,0,0,0.20);*/
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}
#header {
	height: 50px;
	padding: 12px;
	background: #F2F2F2;
	border-radius: 4px 4px 0 0;
}
#searchbox {
	height: 50px;
	padding: 14px 12px;
}
#selected-room {
	color: #FFF;
	font-size: 16px;
	border-radius: 4px;
	margin: 7px;
	padding: 8px 12px;
	width: 384px;
	/*width: 94%;*/
	position: absolute;
	top: 50px;
	overflow: hidden;
}
.room-name {  }
.room-seats { 
	font-size: 14px;
	opacity: 0.5;
}

#close-room {
	float: right;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	width: 35px;
	height: 35px;
	text-align: center;
	padding: 7px 8px;
}
#close-room i { opacity: 0.5; }
#close-room:hover {
	background: rgba(0, 0, 0, 0.1);
}
#close-room:hover i { opacity: 0.7; }

#sign-out {
	float: right;
	cursor: pointer;
	margin-top: -3px;
	margin-left: 1px;
	padding: 5px 0px 5px 5px;
	border-radius: 3px;
}
#sign-out i { opacity: 0.5; }
#sign-out:hover {
	background: rgba(0, 0, 0, 0.1);
}
.subheader {
	background: #F2F2F2;
	height: 30px;
	padding: 6px 12px;
	text-transform: uppercase;
	color: #808080;
	font-size: 11px;
}
.meeting {
	border-bottom: 1px solid #f2f2f2;
	margin-left: 12px;
	padding: 8px 12px 8px 0;
}
.meeting-name {
	color: #333;
	font-size: 13px;
	font-weight: bold;
}
.meeting-time {
	color: #808080;
	font-size: 11px;
	margin-top: -4px;
}
.meeting-room {
	float: right;
	color: #fff;
	font-size: 11px;
	border-radius: 4px;
	margin-top: 1px;
	padding: 6px 10px;
	cursor: pointer;
	/*width: 304px;*/
}

#zoom-controls {
	background: #FFF;
	/*border: 1px solid rgba(0,0,0,0.15);*/
	position: fixed;
	/*width: 320px;*/
	/*height: 90px;*/
	right: 20px;
	bottom: 20px;
	border-radius: 5px;
	/*box-shadow: 0 4px 10px 0 rgba(0,0,0,0.20);*/
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}
.white {
	background: #fff!important;
}
.white:hover {
	background: #f2f2f2!important;
}

#floor-controls {
	background: #FFF;
	/*border: 1px solid rgba(0,0,0,0.15);*/
	position: fixed;
	/*top: 140px; right: 20px;Positioned in top right. */
	bottom: 20px; right: 80px;	/* Positioned in bottom right */
	border-radius: 5px;
	/*box-shadow: 0 4px 10px 0 rgba(0,0,0,0.20);*/
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);

}
#floor-controls .active {
	background: #51AE45!important;
	color: white;
}



.blinker {
  margin: 32px 80px;
  flex: none;
  width: 48px;
  height: 48px;
  position: relative;
  pointer-events: none;
}

.blinker-container {
  text-align: center;
  margin: 32px 0;
  position: absolute;
  left: 190px;
  top: -30px;
  z-index: 100;
}
/*.blinker-five .circle:nth-child(1) {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
  background: #4B9CE3;
  border-radius: 100%;
  border: 4px solid #fff;
  z-index: 1;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
}*/
.blinker-five .circle:nth-child(1) {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background: #51AE45;
  border-radius: 100%;
  animation: pulse-out 1200ms infinite;
}

@keyframes pulse-out {
  100% {
    transform: scale(5);
    opacity: 0;
  }
}


#map {
	position: fixed;
	/*width: 100%;*/
	/*height: 100%;*/
	left: 0; right: 0;
	top: 0; bottom: 0;
	overflow: scroll!important;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	html, window, body {
		overflow: hidden;
	}
	
	body {

	}
body:before{
    display: block;
    content: " ";
    height:20px;
    top: 0;
    background:rgba(0,0,0,0.8);
    position:-webkit-sticky;
    position:sticky;
}
	#map {
		top: 90px;
		bottom: 0px;
	}
	.mapcontainer {
		/*position: relative;*/
		/*overflow: scroll;*/
	}

	#widget {
		/*background: red;*/
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;

		border-radius: 0px;
		border: 0;
	}
	#header {
		background: white;
		border-bottom: 1px solid #F2F2F2;
	}
	#selected-room {
		width: 96%;
		margin: 7px 2%;
	}
	#floor-controls {
		right: 10px;
		bottom: 10px;
	}
	#zoom-controls {
		display: none;
	}
}