body {
	color: #444;
	background: url(fabric_plaid.png);
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	margin: 0;
	padding: 0;
}
a { color: #444; }

#sidebar {
	font-size: 16px;
	width: 230px;
	height: 100%;
	position: fixed;
	padding: 10px;
/*	background: red;*/
}
#sidebar > p {
	font-size: 13px;
	line-height: 18px;
	margin: 0 0 14px 0;
	padding: 8px 5px;
}

#nav {
	text-align: center;
	margin-bottom: 25px;
}
#nav > a {
	display: inline-block;
	background: #FFF;
	padding: 5px 7px;
	margin: 1px 6px;
	border-radius: 5px;
	text-decoration: none;
	opacity: 0.8;
}
#nav > a.active, #nav > a:hover {
	margin: 0 5px;
	border: 1px solid #444;
	opacity: 1;
}
#subscribe {
	font-size: 14px;
	text-align: center;
	padding-right: 25px;
}

#main {
	font-size: 22px;
	margin-left: 245px;
	padding: 10px 10px 10px 0;
/*	padding: 80px 15px 15px 215px;*/
}
#main > a {
	opacity: 0.92;
}
#main > a:hover {
	opacity: 1;
}
#faces {
	width: 960px;
}